<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post">
        <lable>Enter User name</label>
        <input type="text" name="username"/>
        <br>
        <lable>Enter Email</label>
        <input type="email" name="email"/><br>
        <lable>Enter password</lable>
        <input type="password" name="password"/><br>
        <lable>Enter password again </lable>
        <input type="password" name="cpassword"/><br>
        <button>submit</button>
    
</body>

</html>