<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=!, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action=""method="post">
    <div>
        <h1>LOGIN</h1>
        <p> Enter Your Email: <br>
            <input type="text" name="email" placeholder="Enter your mail" />
        </p>
        <p> Enter Password: <br>
            <input type="password" name="password" placeholder="Enter password" />
        </p>
        <p>
            <button style="background-color: black; color: bisque;">Submit</button>
        </p>
        <h3>Forgot Your Password : <a href="forget_password.html">Click Here</a>
        </h3>
    </div> 
   </form>
</body>
</html>